/*FOOTER*/
.final {
    border: 3px solid black;
    color: $color_1;
    text-align: center;
}

footer {
    ul {
        li {
            list-style-type: none;
        }
    }
}

img {
    width: 300px;
    height: 250px;
}