$color_4: brown;
$color_5: aquamarine;

/*MAIN*/
.texto {
	color: $color_4;
	text-align: center;
}

/*MAIN Mercados*/
.colorTitulo {
	color: $color_5;
}
/*MAIN Formulario*/
.colorFormulario {
	color: $color_5;

}
