/*header*/
$color_3: black;
/*main*/
$color_4: brown;
$color_5: aquamarine;

$color_1: #457b9d;

/*formulario*/
$color_2: white;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #5DADE2;
$background-color_2: #117A65;
$background-color_3: #24303c;

/*navbar*/
$background-color_4: #778da9;
