/*youtube*/

.videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    width: 100vw;
    padding: 10px;
}


@media screen and (max-width: 600px) {
    .videos {
        grid-template-columns: 1fr;
        width: 100vw;
        padding: 10px;
    }
}

iframe {
    width: 100%;
}